.vscode
.DS_Store
.mypy_cache
docker-stack.yml
*.env
/backend/app/scripts/log.log
/*.tar

*.log
*.pot
*.pyc
__pycache__/
__pycache__
*__pycache__
media

.env
*.env

.idea
.vscode
.vscode/
*.sqlite3
b2b/*/openapi.json

